# Core Libraries
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.6.1
scipy==1.13.1

# Machine Learning & NLP
gensim==4.3.3
sentence-transformers==2.2.2
transformers==4.50.0

# Web Framework
streamlit==1.30.0

# Misc Utilities
tqdm==4.66.2
